.brand-blue {
  color: #06c;
}

.simplepin-video {
  background-image: url(../img/device.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 607px;
  width: 292px;
}

.simplepin-video > video {
  position: relative;
  top: 76px;
  left: 21px;
  width: 250px;
  height: 444px;
}

.link:focus {
  outline: none;
}