.smooth-scroll {
  scroll-behavior: smooth;
}

.simplepin-video {
  background-image: url(../img/device.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 607px;
  width: 292px;
}

.simplepin-video > video {
  position: relative;
  top: 76px;
  left: 21px;
  width: 250px;
  height: 444px;
}

.link:focus {
  outline: none;
}

.f1 {
  font-size: 2.5rem;
}

.lh-title {
  line-height: 1.2;
}

.lh-subtitle {
  line-height: 1.334;
}