:root{
  --accent: #06C;
  --primary: #111;
  --secondary: #666;
  --background: #fff;
  --background-alt: #f5f5f5;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  color: var(--secondary);
  line-height: 1.5;
}

a {
  color: var(--secondary);
  text-decoration: none;
  transition: all .15s ease-out;
}

a:hover {
  color: var(--primary);
}

h1, h2, h3, h4 {
  color: var(--primary);
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.header {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-right: auto;
}

.header-logoIcon {
  padding: 10px;
  background-color: var(--accent);
  border-radius: 999px;
  margin-right: 1rem;
  flex-shrink: 0;
}

.header-logoIcon > img {
  display: block;
}

.header-logoText {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
}

.header-navigation {
  display: flex;
}

.header-navigationItem {
  padding: 1rem;
}

.hero {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2vw 2vw 8vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  justify-items: center;
}

.hero-content,
.hero-video {
  padding: 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 3.75rem;
  line-height: 1.125;
  margin-top: 0;
  margin-bottom: 1rem;
}

.hero-subtitle {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.375;
  margin-top: 0;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.hero-buttons .storeButton:first-child {
  margin-right: .75rem;
}

.storeButton {
  background-color: var(--primary);
  border-radius: 8px;
  flex-shrink: 0;
  transition-property: all;
}

.storeButton:hover {
  transform: scale(1.025);
  background-color: var(--accent);
}

.storeButton > svg {
  display: block;
  height: 56px;
}

.review {
  font-size: .875rem;
}

.review-text {
  display: block;
  font-style: italic;
}

.review-source {
  display: block;
  margin-top: .5rem;
}

.hero-device {
  background-image: url(/device.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 607px;
  width: 292px;
}

.hero-device > video {
  position: relative;
  top: 76px;
  left: 21px;
  width: 250px;
  height: 444px;
}

#features {
  background-color: var(--background-alt);
}

.features {
  max-width: 80rem;
  margin: 0 auto;
  padding: 8vw 2vw;
}

.features-header {
  padding: 0 1rem;
  margin-bottom: 4rem;
}

.features-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.features-subtitle {
  color: var(--primary);
  font-size: 1.25rem;
  margin: 0;
  max-width: 36em;
}

.features-list {
  padding: 0 1rem;
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
}

.feature {
  display: flex;
  align-items: flex-start;
}

.feature-icon {
  width: 20%;
  max-width: 30px;
  min-width: 25px;
}

.feature-content {
  margin-left: 1rem;
}

.feature-title {
  margin-top: 0;
  margin-bottom: .5rem;
}

.feature-body {
  margin: 0;
}

footer {
  background-color: var(--background-alt);
}

.footer {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-appName {
  font-weight: 600;
  padding: 1rem;
  margin-right: auto;
}

.footer-links {
  display: flex;
}

.footer-link {
  padding: 1rem;
  font-size: .875rem;
}

.link:focus {
  outline: none;
}

.bg-sp-blue {
  background-color: #06C;
}

.bg-sp-light-blue {
  background-color: #E0F0FF;
}

.gray {
  color: #666;
}

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}