html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  color: #666;
  line-height: 1.5;
}

.simplepin-video {
  background-image: url(/device.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 607px;
  width: 292px;
}

.simplepin-video > video {
  position: relative;
  top: 76px;
  left: 21px;
  width: 250px;
  height: 444px;
}

.link:focus {
  outline: none;
}

.bg-sp-blue {
  background-color: #06C;
}

.bg-sp-light-blue {
  background-color: #E0F0FF;
}

.gray {
  color: #666;
}

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}